jogo-memoria/
│
index.html

└── img/
     ├── izaac1.jpeg
     ├── izaac2.jpeg
     ├── icaro1.jpeg
     ├── icaro2.jpeg
     ├── izaac4.jpeg
     ├── icaro3.jpeg
     ├── izaac3.jpeg
     └── ambos.jpeg